
.activate{
  color: #F9B52F;
}
.content_title {
    width: auto;
    height: 100px;
    margin: 5% 10% 0 10% ;
    font-size: 30px;
    font-weight: bold;
    box-shadow: inset;
    color: white;
  }
  
  .content_title div{
    display: flex;
    flex-direction: row;
  }
  
  .content_main{
    width: auto;
    height: auto;
    margin: 2% 10% 0 10% ;
    background-color: rgb(255, 255, 255);
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  
  .content_description{
    width: 30%;
    background-color: #F9B52F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content_description p{
    width: 230px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  
  }
  .content_chat_main_BOS {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .content_chat_main {
    width: 70%;
    height: 600PX;
    display: flex;
    flex-direction: column;
  }
  .chat_title{
    width: 100%;
    height: 40px;
    margin: 20px 0 20px 0;
    font-size: 15px;
    color: #6B6B6B;
    text-align: center;
  }
  .bolt{
    font-weight: bold;
    color: black;
  }
  
  .linea_separación{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .linea {
    width: 450px;
    height: 1px;
    background-color: #F9B52F;
  }
  .triangulo {
    width: 25px;
    height: 10px;
    background-color: #F9B52F;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  .logo_home{
    width: 30%;
    height: auto;
  }